<!DOCTYPE html>
<html>

<head>
    <title>Courses</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>

<body>
        <div class="coursesMain">
        <div style="margin-right: 15px;" class="titleText">Courses</div>
        <form name="filterOptions" action="/courses" onsubmit="return validateForm()" method="GET">
            Subject
            <select name="subject" id="subjectBox"></select><br><br>

            Minimum hours <input type="number" name="minhours" value="0" step="1" max="20" min="0"><br><br>
            Maximum hours <input type="number" name="maxhours" value="20" step="1" max="20" min="0"><br><br>

            Honors <input type="checkbox" name="honors" value="true"><br><br>
            Lab <input type="checkbox" name="lab" value="true"><br><br>
            Drill <input type="checkbox" name="drill" value="true"><br><br>
            Variable credit <input type="checkbox" name="variable" value="true"><br><br>

            Level
            <select name="level">
                <option value="">Any level</option>
                <option value="freshman">Freshman (1000)</option>
                <option value="sophomore">Sophomore (2000)</option>
                <option value="junior">Junior (3000)</option>
                <option value="senior">Senior (4000)</option>
                <option value="graduate">Graduate (5000+)</option>
                <option value="other">Other</option>
            </select><br><br>

            <input type="submit" value="Search">
        </form>
        <a href="/"><button>Go back</button></a>
        </div>
        <div class = "section">
        <ul>
            <% results.forEach(function(r) { %>
            <li style="color:maroon; font-size: 13px; margin: 5px;"><%= r.id %> - <%= r.name %> - <%= r.subject %> - <%= r.number %> - <%= r.hours %></li>
            <% }); %>
        </ul>
    </div>


    <table>

    </table>
</body>

<script>
    let subjects = [{'subjectCode':'ACCT', 'subjectName':'Accounting (ACCT)'}, {'subjectCode':'ANTH', 'subjectName':'Anthropology (ANTH)'}, {'subjectCode':'ARTS', 'subjectName':'Art (ARTS)'}];

    var subjectList = document.getElementById("subjectBox");
    subjectList.innerHTML = "<option value=\'\'>All majors</option>";
                
    for (s of subjects) {
        subjectList.innerHTML += "<option value=\'" + s.subjectCode + "\'>" + s.subjectName + "</option>";
    }

    function validateForm() {
        if (document.forms["filterOptions"]["minhours"].value > document.forms["filterOptions"]["maxhours"].value) {
            alert("Minimum hours cannot be greater than maximum hours");
            return false;
        }
        
        for (param of document.forms["filterOptions"].URLSearchParams) {
            if (param.value == "")
            URLSearchParams.delete(param);   
        }
    }
</script>

</html>