<!DOCTYPE html>
<html>

<head>
    <title>Courses</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>

<body>
    <div class="coursesMain">
        <div class="titleText coursesTitle">Courses</div>
        <a class = "return" href="/"> << back </a>

        <form class="coursesForm" name="filterOptions" action="/courses" onsubmit="return validateForm()" method="GET">        
            <h4>[subject]</h4>
            <select name="subject"><option value=''>All subjects</option>
            <% subjectdata.forEach(function(r) { if (r.code == query.subject) {%>
                <option value='<%= r.code %>' selected><%= r.name %></option><%} else {%>
                <option value='<%= r.code %>'><%= r.name %></option>
            <%}});%>
            </select><br>

            <span><h4>[min hours] <input type="number" id="minh" name="minhours" value="<%= query.minhours %>" step="1" min="0" max="20" oninput="check(this)"></h4></span><br>
            <span><h4>[max hours] <input type="number" id="maxh" name="maxhours" value="<%= query.maxhours %>" step="1" min="0" max="20"></h4></span><br>

            <span><h4>[honors?] <input type="checkbox" name="honors" <% if (query.honors) {%> checked <%}%>></h4></span><br>
            <span><h4>[lab?] <input type="checkbox" name="lab" value="true" <% if (query.lab) {%> checked <%}%>></h4></span><br>
            <span><h4>[drill?] <input type="checkbox" name="drill" value="true" <% if (query.drill) {%> checked <%}%>></h4></span><br>
            <span><h4>[variable credit?] <input type="checkbox" name="variable" value="true" <% if (query.variable) {%> checked <%}%>></h4></span><br>

            <h4>[level]</h4>
            <select name="level">
                <option value="">Any level</option>
                <option value="freshman" <%if (query.level == 'freshman') {%> selected <%}%> >Freshman (1000)</option>
                <option value="sophomore" <%if (query.level == 'sophomore') {%> selected <%}%>>Sophomore (2000)</option>
                <option value="junior" <%if (query.level == 'junior') {%> selected <%}%>>Junior (3000)</option>
                <option value="senior" <%if (query.level == 'senior') {%> selected <%}%>>Senior (4000)</option>
                <option value="graduate" <%if (query.level == 'graduate') {%> selected <%}%>>Graduate (5000+)</option>
                <option value="other" <%if (query.level == 'other') {%> selected <%}%>>Other</option>
            </select><br><br>

            <div style="height:40px"><button onclick="clearFilter()" type="button">Clear</button><input type="submit" value="Search"></div>           
            

        </form>        
    </div>
    <div class="coursesTable animated slideInUp slow" id="coursesTable">
        <table style="width:100%">
            <tr>
                <th><h3 style="margin: 10px;">Course Code</h3></th>
                <th><h3>Course Name</h3></th>
                <th><h3>Credit Hours</h3></th>
                <th><h3>Description</h3></th>
            </tr>

            <% courses.forEach(function(r) { %>
            <tr>               
                <td style="color:maroon; font-size: 13px; margin: 5px; width:20%;"><%= r.subject %> <%= r.number %></td>
                <td style="color:maroon; font-size: 13px; margin: 5px; width:45%;"><%= r.name %></td>
                <td style="color:maroon; font-size: 13px; margin: 5px; width:15%;"> 
                    <% if (r.minhours == r.maxhours) {%><%= r.minhours %>
                    <%} else {%><%= r.minhours %>-<%= r.maxhours %><%}%>
                </td>
                <td class="tooltip"><%= r.description.substring(0, 20) + '...' %>
                    <span class="tooltiptext"><%= r.description %></span>
                </td>                
                </tr>
            <%}); %>

        </table>
</body>

<script>
    function validateForm() {  
        if (parseInt(document.getElementById("minh").value) > parseInt(document.getElementById("maxh").value)) {
            alert("Minimum hours cannot be greater than maximum hours");
            return false;
        } 
    }

    function clearFilter() {
        filter = document.forms["filterOptions"];
        filter["subject"].value = "";
        filter["minhours"].value = '0';
        filter["maxhours"].value = '20';
        filter["honors"].checked = false;
        filter["lab"].checked = false;
        filter["drill"].checked = false;
        filter["variable"].checked = false;
        filter["level"].value = "";
    }
</script>

</html>