<!DOCTYPE html>
<html>

<head>
    <title>Courses</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>

<body>
        <div class="coursesMain">
        <div style="margin-right: 15px;" class="titleText">Courses</div>
        <a href="/"><button>Go back</button></a>
        </div>
        <div class = "section">
        <ul>
            <% results.forEach(function(r) { %>
            <li style="color:maroon; font-size: 13px; margin: 5px;"><%= r.id %> - <%= r.name %> - <%= r.subject %> - <%= r.number %> - <%= r.hours %></li>
            <% }); %>
        </ul>
    </div>


    <table>

    </table>
</body>

<script>
    function generateTableHead(table) {
        let thead = table.createTHead();
        let row = thead.insertRow();
        for (let key of data) {
            let th = document.createElement("th");
            let text = document.createTextNode(key);
            th.appendChild(text);
            row.appendChild(th);
        }
    }

    let courses = document.getElementsByName("results");
    //let courses = [{"name":"zander", "age": 21}, {"name":"Gaby", "age":19}];

    let table = document.querySelector("table");
    let data = Object.keys(courses[0]);
    generateTableHead(table);



</script>

</html>